
html, body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', Arial, sans-serif;
}

div#menuList{
  display:none;
  padding: 0;
  margin: 0;
  max-width:100%;
  min-width:100px;
  overflow: hidden;
  text-align: center;
}
div#menuList.toggle{
  display:block;
}

div#menuList a{
  display:block;
  margin: 10px 5px;
  color: white;
  background-color: orange;
  text-decoration: none;
  font-size: larger;
}
div#menuList a:hover{
  background-color: orangered;
}

nav#navbar{
  display:block;
  position:fixed;
  bottom:50px;
  right:50px;
  width:10vw;
  height:10vw;
  max-width: 100px;
  max-height: 100px;
  min-width:50px;
  min-height:50px;
  overflow: hidden;
  text-align: center;
  background-color:rgb(253, 201, 104);
  cursor: pointer;
  z-index: 99;
  transition: .3s;
}

nav#navbar.toggle{
  height:30vh;
  width:auto;
  max-width: unset;
  max-height: unset;
  min-width:100px;
  background-color: white;
  border:solid;
  border-color:rgb(253, 201, 104);
  border-radius:0;
}

#navbarIcon0,#navbarIcon1,#navbarIcon2{
  position: relative;
  top:35%;
  margin:0 auto; 
  width:50%;
  height:5%;
  background-color: black;
  transition: 0s;
}
#navbarIcon1{
  top:45%;
}
#navbarIcon2{
  top:55%;
}
#navbarIcon0.toggle, #navbarIcon1.toggle, #navbarIcon2.toggle{
  opacity: 0;
}

h1{
  font-weight: 100;
  padding:5vh 0 5vh 0;
  text-align: center;
  color: orange;
}
#banner{
  height: 100vh;
}
.bannerTextBox{
  position:relative;
  top:40vh;
  right: 20vw;
  width:inherit;
  text-align: center;
}
h1.bannerText{
  margin: 0;
  padding: 0;
  font-size: 4vh;
}
@media only screen and (max-width: 900px){
  .bannerTextBox{
    right:auto;
  }
}

.aboutMe {
  width: inherit;
  display: flex;
  padding: 0 5vw 0 5vw;
}
.aboutMeText{
 width: 33%;
 flex: 1;
 padding: 0vh 1vw 0vh 1vw;
 text-align: justify;
}

/* Changes aboutMe to be vertically centered */
@media only screen and (max-width: 900px){
  .aboutMe{
    width: inherit;
    display: block;
    padding: 0 10vw 0 10vw;
    text-align: justify;
  }
  .aboutMeText{
    width:inherit;
    padding: 0vh 0vw 2vh 0vw;
    margin: auto;
  }
}
/* All Experiences */

.experience {
  display:block;
}

.experienceItem{
  display:flex;
  margin: 20px auto;
}

.experienceItemSplit{
  flex:1;
}

.experienceMobile {
  display:none;
  max-width: inherit;
  text-align: center;
}

.experienceMobileItem{
  margin: 20px 0;
}

.experiencePicture{
  display:block;
  float:right;
}
.experiencePicture{
  width: 20vw;
}
h3.experienceTitle, h3.experienceMobileTitle {
  margin: 0 0 0 0;
  color: orange;
}
h3.experiencePosition, h3.experienceMobilePosition {
  margin: 0 0 0 0;
  color: #dd6b4f;
}
h3.experiencePosition, h3.experienceTitle,  div.experienceText {
  margin: 0 0 0 20px;
}
div.experienceText{
  width:60%;
  text-align: justify;
}
div.experienceMobileText{
  max-width: 80%;
  margin: 20px auto;
}
@media only screen and (max-width: 900px){
  .experience{
    display:none;
  }

  .experienceMobile { 
    display:block;
  }
  .experienceMobilePicture {
    width: 50vw;
  }
}

/* All compsci related things*/
.compSci {
  width: 100%;
}
.compSciSlidesFrame{
  position: relative;
  width: 100%;
  height: 50vh;
  margin: auto;
  perspective: 1000px;
  -moz-perspective: 1000px;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
[type=radio]{
  display: none;
}

.compSciSlidesFrame label {
  margin: auto;
  width: 50%;
  height: 100%;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.compSciSlidesFrame label img{
  height:100%;
  max-width:100%;
}
/* all the transitions and placement for the slides */
/* at starting positions pic0 is on top */
#cspic0:checked ~ #compSciPic0, #cspic1:checked ~ #compSciPic1,
#cspic2:checked ~ #compSciPic2, #cspic3:checked ~ #compSciPic3,
#cspic4:checked ~ #compSciPic4 {
  box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
  transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
}
/* shift 1 to right */
#cspic0:checked ~ #compSciPic1, #cspic1:checked ~ #compSciPic2,
#cspic2:checked ~ #compSciPic3, #cspic3:checked ~ #compSciPic4,
#cspic4:checked ~ #compSciPic0 {
  box-shadow: 4px 0 10px 0 rgba(0,0,0,.37);
  transform: translate3d(15%,0,-100px);
  -moz-transform: translate3d(15%,0,-100px);
}
/* shift 2 to right */
#cspic0:checked ~ #compSciPic2, #cspic1:checked ~ #compSciPic3,
#cspic2:checked ~ #compSciPic4, #cspic3:checked ~ #compSciPic0,
#cspic4:checked ~ #compSciPic1 {
  box-shadow: 4px 0 7px 0 rgba(0,0,0,.27);
  transform: translate3d(30%,0,-200px);
  -moz-transform: translate3d(30%,0,-200px);
}
/* shift 2 to left */
#cspic0:checked ~ #compSciPic3, #cspic1:checked ~ #compSciPic4,
#cspic2:checked ~ #compSciPic0, #cspic3:checked ~ #compSciPic1,
#cspic4:checked ~ #compSciPic2 {
  box-shadow: -4px 0 7px 0 rgba(0,0,0,.27);
  transform: translate3d(-30%,0,-200px);
  -moz-transform: translate3d(-30%,0,-200px);
}
/* shift 1 to left */
#cspic0:checked ~ #compSciPic4, #cspic1:checked ~ #compSciPic0,
#cspic2:checked ~ #compSciPic1, #cspic3:checked ~ #compSciPic2,
#cspic4:checked ~ #compSciPic3 {
  box-shadow: -4px 0 10px 0 rgba(0,0,0,.37);
  transform: translate3d(-15%,0,-100px);
  -moz-transform: translate3d(-15%,0,-100px);
}
/* end of transitions*/

#compSciPic0 { background: #00BCD4 }
#compSciPic1 { background: #4CAF50 }
#compSciPic2 { background: #CDDC39 }
#compSciPic3 { background: #FFC107 }
#compSciPic4 { background: #FF5722 }

.compSciTextFrame{
  width:50%;
  margin: auto;
  padding: 5vh 0vw 0vh 0vw;
}

#compSciRating{
  text-align: center;
}
img.stars{
  width:5vw;
  max-width: 100px;
  min-width: 20px;
  height:5vw;
  max-height: 100px;
  min-height: 20px;
}
img.goldstar{
  content: url("../pics/misc/goldstar.png");
}
img.blackstar{
  content: url("../pics/misc/blackstar.png");
}

#compSciText{
  text-align: justify;
}

/* all the transitions and placement for the slides in mobile*/
@media only screen and (max-width: 900px){
  .compSciSlidesFrame label {
    width: 90%;
    height: 80%;
  }
  /* at starting positions pic0 is on top */
  #cspic0:checked ~ #compSciPic0, #cspic1:checked ~ #compSciPic1,
  #cspic2:checked ~ #compSciPic2, #cspic3:checked ~ #compSciPic3,
  #cspic4:checked ~ #compSciPic4 {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.37),0 -4px 10px 0 rgba(0,0,0,.37);
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
  }
  /* shift 1 down */
  #cspic0:checked ~ #compSciPic1, #cspic1:checked ~ #compSciPic2,
  #cspic2:checked ~ #compSciPic3, #cspic3:checked ~ #compSciPic4,
  #cspic4:checked ~ #compSciPic0 {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.20);
    transform: translate3d(0,15%,-100px);
    -moz-transform: translate3d(0,15%,-100px);
  }
  /* shift 2 down */
  #cspic0:checked ~ #compSciPic2, #cspic1:checked ~ #compSciPic3,
  #cspic2:checked ~ #compSciPic4, #cspic3:checked ~ #compSciPic0,
  #cspic4:checked ~ #compSciPic1 {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.17);
    transform: translate3d(0,30%,-200px);
    -moz-transform: translate3d(0,30%,-200px);
  }
  /* shift 2 up */
  #cspic0:checked ~ #compSciPic3, #cspic1:checked ~ #compSciPic4,
  #cspic2:checked ~ #compSciPic0, #cspic3:checked ~ #compSciPic1,
  #cspic4:checked ~ #compSciPic2 {
    box-shadow: 0 -3px 4px 0 rgba(0,0,0,.17);
    transform: translate3d(0,-30%,-200px);
    -moz-transform: translate3d(0,-30%,-200px);
  }
  /* shift 1 up */
  #cspic0:checked ~ #compSciPic4, #cspic1:checked ~ #compSciPic0,
  #cspic2:checked ~ #compSciPic1, #cspic3:checked ~ #compSciPic2,
  #cspic4:checked ~ #compSciPic3 {
    box-shadow: 0 -5px 5px 0 rgba(0,0,0,.20);
    transform: translate3d(0,-15%,-100px);
    -moz-transform: translate3d(0,-15%,-100px);
  }
}

/* artstation gallery */
div#galleryBack{
  padding: 5% 0;
  max-width: 100%;
  background: rgb(26, 26, 26);
  box-shadow: 0 -5px 10px rgba(0,0,0,.60),0 5px 10px rgba(0,0,0,.60);
}
div#galleryBack h2{
  color: white;
  text-align: center;
}
div#inspirationsArt, div#inspirationsArtMobile{
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}
div#inspirationsArtMobile{
  width: 100%;
}
div#inspirationsArtMobile{
  display: none;
}
div#artContainer, div#artContainerMobile{
  position:relative;
  max-width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}
img#mainArt, img.mainArtMobile{
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}
img.mainArtMobile{
  transition: transform .5s ease;
}
.topimage{
  z-index: 99;
}
div#artText{
  position: absolute;
  background : rgb(26, 26, 26);
  top: 0;
  left: 0;right: 0;
  opacity: .8;
  max-width: 100%;
  padding-top: 5%;
  text-align: center;
}
div#artText span{
  position: absolute;
  margin: auto;
  color: white;
  padding-top: 10px;
  top: 0; bottom: 0;
  left: 0; right: 0;
  font-size: 1.5vw;
}
div#artTextMobile{
  display: block;
  max-width: 100%;
  text-align: center;
}
div#artTextMobile span{
  padding: 10px 0;
  font-size: 1.5em ;
  color: white;
}
div#artOptions{
  position:relative;
  overflow: hidden;
  max-width: 100%;
  padding-top: 10%;

}
div#artOptions img{
  position: absolute;
  top: 0; bottom: 0;
  left: 0;
  height: 100%;
  opacity: .5;
  transition: .5s;
  cursor: pointer;
}
div#artOptions img:hover, div#artOptions img.toggle{
  opacity: 1;
}

@media only screen and (max-width: 900px){
  div#inspirationsArt{
    display: none;
  }
  div#inspirationsArtMobile{
    display: block;
  }
  
}
/* Spotify Music */
div#inspirationsMusic{
  max-width:100%;
  overflow: hidden;
  height: auto;
  margin-top: 5%;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(48,246,81,1) 46%, rgba(255,255,255,1) 100%);
  padding: 20px;
  font-family: 'Righteous', Arial, sans-serif;
}

div#spotifyPlaylist{
  position: relative;
  max-width: 40%;
  margin: auto;
  height: 50vh;
  perspective: 1000px;
  transform-style: preserve-3d;
}
div#spotifyPlaylist img{  
  margin:auto;
  position: absolute;
  left: 0;  right: 0;
  height: 100%;
  cursor: pointer;
  transition: transform .5s ease;
  box-shadow: 0 0 10px 4px rgba(0,0,0,.5);
  pointer-events: all;
}

div#songInfo{
  display: block;
  width:auto;
  margin: 0 auto;
  text-align: center;
}
div#songInfo a{
  margin: 10px;
  color: black;
  text-decoration: none;
}
div#songInfo a:hover{
  color: red;
}

@media only screen and (max-width: 900px){
  div#spotifyPlaylist{
    height: 30vh;
  }
}
/* contact info */
footer{
  background: rgb(145, 145, 145);
  overflow: hidden;
  text-align: center;
}
footer h1, footer h3, footer h4{
  color: black;
  word-wrap: break-word;
}
div#contactOptions{
  display: flex;
  width: 100%;
}
div.cOption{
  flex:1;
  margin: 20px;
  padding: 20px;
  perspective: 1000px;
}
div.cOption a{
  display:block;
  text-decoration: none;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

div.cOption a:hover {
  transform: translateZ(100px) ;
}

div.cOption img{
  height: 10vw;
  margin: auto;
}

div#credits{
  width: 100%;
  height:10vh; 
}

@media only screen and (max-width: 900px){
  footer h1, footer h3{
    margin: 10px;
  }
  div#contactOptions{
    display:block;
    max-width:100%;
  }
  div.cOption{
    flex:none;
    margin: 20px 20px 0px 20px;
  }
  div.cOption a{
    display:flex;
  }
  div.cOption img{
    min-width: 80px;
    min-height:80px;
    float:left;
  }
  div.cOption h4{
    padding: 0 10px;
  }
}






