
html, body{
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Oxygen', Arial, sans-serif;
}

body{
  background-color: rgb(26, 39, 100);
  color: rgb(155, 170, 240);
}

nav{
  margin: 0 auto;
  display: block;
  width: 100%;
  height: auto;
  z-index: 99;
  transition: 1s;
  text-align: right;
}
.stickToTop{
  position: sticky;
  position: -webkit-sticky;
  top:0;
}
.hideNav{
  top:-50px;
}

div#hamburgerMenu{
  display: none;
  padding: 10px 0px;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(35, 39, 54, 0.6);
  background-color: rgb(27, 47, 134);
  color: rgb(155, 170, 240);
}
div#hamburgerBar0, div#hamburgerBar1, div#hamburgerBar2{
  width: 40px;
  height: 5px;
  background-color: black;
  margin: 5px auto;
  transition: .4s;
}

div#hamburgerMenu.toggle{
  box-shadow: unset;
}

nav ul{
  margin: 0;
  padding: 0px 20px;
  overflow: hidden;
  background-color: rgb(27, 47, 134);
  border: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(27, 47, 134) ;
  box-shadow: 0px 5px 10px rgba(35, 39, 54, 0.6);
  list-style: none;
  transition: 1s;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  display: block;
  color: rgb(155, 170, 240);
  padding: 10px 20px;
  text-decoration: none;
  font-size: large;
}
a#resumeButton{
  border: solid;
  border-color: rgb(34, 65, 202);
  color: rgb(27, 47, 134) ;
  background-color: rgb(155, 170, 240);
}

@media only screen and (max-width: 1024px){
  div#hamburgerMenu{
    display: block;
  }
  nav{
    text-align: center;
  }
  nav ul {
    position: absolute;
    padding: 0px 0px;
    max-height: 0;
    width: 100%;
  }
  nav ul.toggle{
    max-height: 300px;
  }
  nav ul li{
    display: block;
  }
  .hideNav{
    top:-60px;
  }
}

h1{
  font-weight: 100;
  padding:5vh 0 5vh 0;
  text-align: center;
  color: orange;
}
#banner{
  height: 100vh;
  
}
.bannerTextBox{
  position:relative;
  top:40vh;
  right: 20vw;
  width:inherit;
  text-align: center;
}
h1.bannerText{
  margin: 0;
  padding: 0;
  font-size: 4vh;
}
@media only screen and (max-width: 1024px){
  .bannerTextBox{
    right:auto;
  }
}

.aboutMe {
  width: inherit;
  display: flex;
  padding: 0 5vw 0 5vw;
}
.aboutMeText{
 width: 33%;
 flex: 1;
 padding: 0vh 1vw 0vh 1vw;
 text-align: justify;
}

/* Changes aboutMe to be vertically centered */
@media only screen and (max-width: 1024px){
  .aboutMe{
    width: inherit;
    display: block;
    padding: 0 10vw 0 10vw;
    text-align: justify;
  }
  .aboutMeText{
    width:inherit;
    padding: 0vh 0vw 2vh 0vw;
    margin: auto;
  }
}
/* All Experiences */

.experience {
  display:block;
}

.experienceItem{
  display:flex;
  margin: 20px auto;
}

.experienceItemSplit{
  flex:1;
}

.experienceMobile {
  display:none;
  max-width: inherit;
  text-align: center;
}

.experienceMobileItem{
  margin: 20px 0;
}

.experiencePicture{
  display:block;
  float:right;
}
.experiencePicture{
  width: 20vw;
}
h3.experienceTitle, h3.experienceMobileTitle {
  margin: 0 0 0 0;
  color: orange;
}
h3.experiencePosition, h3.experienceMobilePosition {
  margin: 0 0 0 0;
  color: #dd6b4f;
}
h3.experiencePosition, h3.experienceTitle,  div.experienceText {
  margin: 0 0 0 20px;
}
div.experienceText{
  width:60%;
  text-align: justify;
}
div.experienceMobileText{
  max-width: 80%;
  margin: 20px auto;
}
@media only screen and (max-width: 1024px){
  .experience{
    display:none;
  }
  .experienceMobile { 
    display:block;
  }
  .experienceMobilePicture {
    width: 50vw;
  }
}

/* CompSci */
div#compSci{
  text-align: center;
}

div#softwareSkills, div#technicalSkills{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div#softwareSkills img, div#technicalSkills img{
  width: 100px;
}


/* Spotify Music */
div#inspirationsMusic{
  max-width:100%;
  overflow: hidden;
  height: auto;
  margin-top: 5%;
  /* background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(48,246,81,1) 46%, rgba(255,255,255,1) 100%); */
  padding: 20px;
  font-family: 'Righteous', Arial, sans-serif;
}

div#spotifyPlaylist{
  position: relative;
  max-width: 40%;
  margin: auto;
  height: 50vh;
  perspective: 1000px;
  transform-style: preserve-3d;
}
div#spotifyPlaylist img{  
  margin:auto;
  position: absolute;
  left: 0;  right: 0;
  height: 100%;
  cursor: pointer;
  transition: transform .5s ease;
  box-shadow: 0 0 10px 4px rgba(0,0,0,.5);
  pointer-events: all;
}
div#songInfo{
  display: block;
  width:auto;
  margin: 0 auto;
  text-align: center;
}
div#songInfo a{
  margin: 10px;
  color: black;
  text-decoration: none;
}
div#songInfo a:hover{
  color: red;
}

@media only screen and (max-width: 1024px){
  div#spotifyPlaylist{
    height: 30vh;
    max-width: 100%;
  }
}
/* contact info */
footer{
  overflow: hidden;
  text-align: center;
}
footer h1, footer h3, footer h4{
  color: white;
  word-wrap: break-word;
}
div#contactOptions{
  width: 100%;
  padding-bottom: 50px;
}
div#contactOptions a{
  display:inline-block;
  max-height: 10%;
  text-decoration: none;
  color: black;
}
div.cOption{
  display: flex;
  width: auto;
  height: auto;
  margin: 20px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: rgb(167, 92, 49);
  align-items: center;
}
div.cOption:hover{
  box-shadow: 0px 0px 10px rgba(0,0,0,.60);
}
div.cOption > img{
  height: 50px;
  width: auto;
}

@media only screen and (max-width: 1024px){
  footer h1, footer h3{
    margin: 10px;
  }
  div.cOption {
    margin: 10px 10px;
    border-radius: 50%;
    padding: 20px;
  }
  div.cOption > img{
    margin-right: unset;
  }
  div.cOption > span{
    display: none;
  }
  
}

.coolBlue { background: #00BCD4 !important}
.coolGreen { background: #4CAF50 !important}
.coolYellow { background: #CDDC39 !important}
.coolOrange { background: #FFC107 !important}
.coolRed { background: #FF5722 !important}
.coolPurple {background: #c929c9 !important}




